{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": "./tsconfig.json"
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "standard"
  ],
  "plugins": [
    "@typescript-eslint",
    "react",
    "react-hooks",
    "jsx-a11y",
    "graphql"
  ],
  "rules": {
    "eqeqeq": "error",
    "no-eval": "error",
    "no-var": "error",
    "prefer-const": "error",
    "sort-imports": "off",
    "no-unused-vars": "off",
    "no-unused-expressions": "warn",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "import/prefer-default-export": "off",
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "camelcase": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off",
  },
  "env": {
    "jest": true,
    "browser": true
  }
}