.friends {
  margin: 1rem 0 2rem 0;
}

.friend-card {
  margin: 1rem 0;
  display: flex;
  text-decoration-color: transparent;
  align-items: center;
  justify-content: start;
  cursor: pointer;
}

.friend-card-content {
  padding-left: 1rem;
}
